* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/assets/developer.jpg);

}



.main {
    width: 50%;
    margin: 5rem 15rem 25rem 20rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 2px solid rgb(236, 90, 90);
    border-radius: 10px;

}

h1 {
    padding-left: 10rem;
    color: rgb(236, 90, 90);
}

h2 {
    color: rgb(236, 90, 90);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

input {
    height: 30px;
    width: 200px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-size: 1em;
}

.add,
.delete {
    margin-left: 1rem;
    border: 2px solid rgb(236, 90, 90);
    border-radius: 13px;
    height: 30px;
    width: 80px;
    background-color: rgb(236, 90, 90);
    color: rgb(255, 255, 255);
}

li {
    margin: 1em 0 0 1em;
    color: rgb(255, 255, 255);
    font-size: 25px;
}